database=mysql
spring.datasource.url=jdbc:mysql://{{ mysql_host }}:{{ mysql_port }}/petclinic
spring.datasource.username=petclinic
spring.datasource.password=petclinic
spring.sql.init.mode=always

{% if mysql_slave_host is defined and mysql_slave_port is defined %}
spring.slave.datasource.url=jdbc:mysql://{{ mysql_slave_host }}:{{ mysql_slave_port }}/petclinic
spring.slave.datasource.username=petclinic
spring.slave.datasource.password=petclinic
{% endif %}
